name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  cabal:
    strategy:
      matrix:
        ghc: ['9.4.8','9.6.6','9.8.4','9.10.1','9.12.2']
        runs-on: [windows-latest, macos-latest, ubuntu-latest]
      fail-fast: false
    name: Cabal - ${{ matrix.runs-on }} GHC ${{ matrix.ghc }}
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: haskell-actions/setup@0512451d82f3ca8c147db62e30464e7c4ca63d30 # v2
      with:
        ghc-version: ${{ matrix.ghc }}
        submodules: true
 
    - name: Cache dependencies
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
      with:
        path: |
          ~/.cabal
          ~/.cache/cabal
          dist-newstyle
        key: ${{ matrix.runs-on }}-cabal-${{ matrix.ghc }}-${{ hashFiles('aeson-jsonpath.cabal') }}
        restore-keys: |
          ${{ matrix.runs-on }}-cabal-${{ matrix.ghc }}
          ${{ matrix.runs-on }}-cabal-

    - name: Update Submodule
      run: |
        git submodule update --init --recursive
        git submodule update --remote

    - name: Update Cabal package list
      run: cabal v2-update --with-compiler=ghc-${{ matrix.ghc }}
 
    - name: Build project
      run: cabal v2-build --with-compiler=ghc-${{ matrix.ghc }}

    - name: Run tests
      run: cabal v2-test spec --with-compiler=ghc-${{ matrix.ghc }}

  stack:
    strategy:
      matrix:
        resolver: ['lts', 'nightly']
        runs-on: [windows-latest, macos-latest, ubuntu-latest]
      fail-fast: false
    name: Stack - ${{ matrix.runs-on }} Resolver ${{ matrix.resolver }}
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: haskell-actions/setup@0512451d82f3ca8c147db62e30464e7c4ca63d30 # v2
      with:
        enable-stack: true
        submodules: true

    - name: Cache dependencies
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
      with:
        path:
          ~/.stack
          .stack-work
        key: ${{ matrix.runs-on }}-stack-${{ matrix.resolver }}-${{ hashFiles('stack.yaml') }}
        restore-keys: |
          ${{ matrix.runs-on }}-stack-${{ matrix.resolver }}-
          ${{ matrix.runs-on }}-stack-

    - name: Update Submodule
      run: |
        git submodule update --init --recursive
        git submodule update --remote

    - name: Install dependencies for resolver ${{ matrix.resolver }}
      run: stack setup --resolver ${{ matrix.resolver }}

    - name: Build the project with resolver ${{ matrix.resolver }}
      run: stack build --resolver ${{ matrix.resolver }}

    - name: Run spec tests with resolver ${{ matrix.resolver }}
      run: stack test :spec --resolver ${{ matrix.resolver }}
