name: Compliance

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * 6 # runs every saturday

jobs:
  cabal:
    strategy:
      matrix:
        ghc: ['9.4.8','9.6.6','9.8.4','9.10.1','9.12.2']
      fail-fast: false
    name: Cabal - Linux GHC ${{ matrix.ghc }}
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - uses: haskell-actions/setup@82e8b5066385702e477d9dc98f287070493e8abd # v2
      with:
        ghc-version: ${{ matrix.ghc }}
        submodules: true
 
    - name: Cache dependencies
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      with:
        path: |
          ~/.cabal
          dist-newstyle
        key: cabal-${{ matrix.ghc }}-${{ hashFiles('aeson-jsonpath.cabal') }}
        restore-keys: |
          cabal-${{ matrix.ghc }}-

    - name: Update Test Suite Submodule
      run: |
        git submodule update --init --recursive
        git submodule update --remote

    - name: Update Cabal package list
      run: cabal v2-update --with-compiler=ghc-${{ matrix.ghc }}
 
    - name: Run complaince test suite
      run: cabal v2-test compliance --with-compiler=ghc-${{ matrix.ghc }}

  stack:
    strategy:
      matrix:
        resolver: ['lts', 'nightly']
      fail-fast: false
    name: Stack - Linux Resolver ${{ matrix.resolver }}
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      with:
        submodules: true

    - name: Cache dependencies
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      with:
        path: ~/.stack
        key: stack-${{ matrix.resolver }}-${{ hashFiles('stack.yaml') }}
        restore-keys: |
            stack-${{ matrix.resolver }}-

    - name: Update Test Suite Submodule
      run: |
        git submodule update --init --recursive
        git submodule update --remote

    - name: Install dependencies for resolver ${{ matrix.resolver }}
      run: stack setup --resolver ${{ matrix.resolver }}

    - name: Run compliance tests with resolver ${{ matrix.resolver }}
      run: stack test :compliance --resolver ${{ matrix.resolver }}
