name: Compliance

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * 6 # runs every saturday

jobs:
  cabal:
    strategy:
      matrix:
        ghc: ['9.4.8','9.6.6','9.8.4','9.10.1','9.12.2']
      fail-fast: false
    name: Cabal - Linux GHC ${{ matrix.ghc }}
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: haskell-actions/setup@7786314267139caaaf743fbdb70341b116a8d25d # v2
      with:
        ghc-version: ${{ matrix.ghc }}
        submodules: true
 
    - name: Cache dependencies
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
      with:
        path: |
          ~/.cabal
          dist-newstyle
        key: cabal-${{ matrix.ghc }}-${{ hashFiles('aeson-jsonpath.cabal') }}
        restore-keys: |
          cabal-${{ matrix.ghc }}-

    - name: Update Test Suite Submodule
      run: |
        git submodule update --init --recursive
        git submodule update --remote

    - name: Update Cabal package list
      run: cabal v2-update --with-compiler=ghc-${{ matrix.ghc }}
 
    - name: Run complaince test suite
      run: cabal v2-test compliance --with-compiler=ghc-${{ matrix.ghc }}

  stack:
    strategy:
      matrix:
        resolver: ['lts', 'nightly']
      fail-fast: false
    name: Stack - Linux Resolver ${{ matrix.resolver }}
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        submodules: true

    - name: Cache dependencies
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
      with:
        path:
          ~/.stack
          .stack-work
        key: stack-${{ matrix.resolver }}-${{ hashFiles('stack.yaml') }}
        restore-keys: |
            stack-${{ matrix.resolver }}-

    - name: Update Test Suite Submodule
      run: |
        git submodule update --init --recursive
        git submodule update --remote

    - name: Install dependencies for resolver ${{ matrix.resolver }}
      run: stack setup --resolver ${{ matrix.resolver }}

    - name: Run compliance tests with resolver ${{ matrix.resolver }}
      run: stack test :compliance --resolver ${{ matrix.resolver }}
